<div class="edit-profile-container">
  <div class="block-title">
    <!-- <h4 class="grey"><i class="fa fa-check-square-o"></i>Chỉnh sửa thông tin cơ bản</h4> -->
    <div class="line"></div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, quam quas. Rerum quos, eaque, dolorem
      voluptatem rem culpa eligendi facilis eos voluptas quas repellendus, debitis recusandae accusantium? Explicabo,
      delectus nemo?</p>
    <div class="line"></div>
  </div>
  <div class="edit-block">

    <form>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="firstname">Họ</label>
            <h3>Phan</h3>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="lastname">Tên</label>
            <h3>Phúc</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="email">Email</label>
            <h3>phucphan6666@gmail.com</h3>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="birthday">Ngày sinh</label>
          <h3>01/07/1996</h3>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="custom-label">Giới tính: </label>
            <h3>Nam</h3>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <h3>56 Quang Trung, phường 10, quận Gò Vấp, TP HCM</h3>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>