<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 create-body">

    <form action="" method="POST" role="form">
      <legend><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Tạo nhóm</legend>

      <div class="form-group">
        <label for="title">Tên nhóm</label>
        <input type="text" class="form-control" id="title">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="file">Ảnh bìa</label>
            <input type="file" class="form-control-file" name="" id="file" accept="image/*" aria-describedby="fileHelpId">
          </div>
          <div class="col-md-6 mb-3">
            <label for="file">Ảnh bìa</label>
            <input type="file" class="form-control-file" name="" id="file" accept="image/*" aria-describedby="fileHelpId">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="discription">Mô tả</label>
        <textarea type="text" class="form-control" id="discription"></textarea>
      </div>
      
      <div class="form-group">
        <label for="tasks">Vị trí</label>
        <input type="text" class="form-control" id="title">
      </div>

      <div class="form-group">
        <label for="tasks">Liên hệ</label>
        <input type="text" class="form-control" id="title">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Tạo</button>
      </div>
    </form>

  </div>
</div>
