<div class="card text-left card-cover">
  <img src="./../../../assets/images/banner.jpg" alt="">

</div>

<form >

  <div class="form-group">
    <label for="title">Tên nhóm</label>
    <h2 style="font-weight: 600; color: #dc3545">Chung Tay</h2>
  </div>

  <div class="form-group">
    <label for="discription">Mô tả</label>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eius magnam cum ratione facilis. Autem ex totam asperiores aperiam modi sed quis unde voluptate tempora voluptatibus. Aliquam laboriosam officia laudantium!</h6>
  </div>

  <div class="form-group">
    <label for="tasks">Vị trí</label>
    <h6>567 Lê Duẩn, phường EaTam, TP. Buôn Ma Thuột, tỉnh Đắk Lắk.</h6>
  </div>

  <div class="form-group">
    <label for="tasks">Liên hệ</label>
    <h6>0373780102</h6>
  </div>
</form>