<div class="container">

  <div class="row main">

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="card text-left">
        <div class="profile-card">
          <img src="./../../../assets/images/fuk.png" alt="user" class="profile-photo">
          <h5><a href="timeline.html" class="text-white">Phan Hồng Phúc</a></h5>
          <a href="#" class="text-white"><i class="fa fa-rss" aria-hidden="true"></i> 1,299 followers</a>
        </div>
        <div class="card-body option-left">
          <ul class="list-group">
            <li class="list-group-item">Active item</li>
            <li class="list-group-item">Item</li>
            <li class="list-group-item">Disabled item</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

      <div class="panel panel-success">
        <div class="panel-heading">
          <h5 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Tạo sự kiện</h5>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <img src="./../../../assets/images/fuk.png" alt="" class="profile-photo-md">
            <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish" wrap="soft"></textarea>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary pull-right">Chia sẻ</button>
        </div>
      </div>

      <div class="card text-left card-newfeeds">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="panel panel-default panel-right">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>

  </div>

</div>