

  /*==================================================
  Friend List CSS = Newsfeed and Timeline
  ==================================================*/

.friend-list .friend-card{
    border-radius: 4px;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .friend-list .friend-card .card-info{
    padding: 0 20px 10px;
  }
  
  .friend-list .friend-card .card-info img.profile-photo-lg{
    border: 7px solid #fff;
    margin-right: 20px;
    position: relative;
    top: -50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .friend-card img.cover{
    display: block;
    max-width: 100%;
    height: auto;
  }

  .friend-info{
    position: relative;
    top: -30px;
    font-size: 0.8em;
  }

  .friend-info i{
      color: #8dc63f;
      padding-top: 10px;
  }
  