<div class="card">
  <div class="card-header">
    <h3>Đăng bài</h3>
  </div>
  <div class="card-body">
    <textarea name="" id="" placeholder="Nhập..."></textarea>
  </div>
  <div class="card-footer">
    <i class="fa fa-picture-o" aria-hidden="true"></i>
    <i class="fa fa-camera" aria-hidden="true"></i>
    <button type="button" class="btn btn-success pull-right">Đăng</button>
  </div>
</div>
<div class="card text-left card-newfeeds">
  <div class="post-content">
    <!-- <img src="./../../../assets/images/banner.jpg" alt="post-image" class="img-responsive post-image"> -->
    <div class="post-container">
      <img src="./../../../assets/images/fuk.png" alt="user" class="profile-photo-md pull-left">
      <div class="post-detail">
        <div class="user-info">
          <h5><a href="timeline.html" class="profile-link">Phan Hồng Phúc</a></h5>
          <p class="text-muted">Published a photo about 3 mins ago</p>
        </div>
        <div class="line-divider"></div>
        <div class="post-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i>
            <i class="em em-anguished"></i></p>
        </div>
        <div class="timer">
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <span>Start: 25-12-2018</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <span>End: 29-12-2018</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
              <span>Số lượng thành viên hiện tại: 32</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
              <span>567 Lê Duẩn, phường EaTam, TP. Buôn Ma
                Thuột, tỉnh Đắk Lắk.</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
              <div class="control like">
                <i class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp; Thích</i>
              </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
              <div class="control comment">
                <i class="fa fa-comments-o" aria-hidden="true">&nbsp; Bình luận</i>
              </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
              <div class="control join">
                <i class="fa fa-hand-paper-o" aria-hidden="true">&nbsp; Tham gia</i>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="line-divider"></div>
        <div class="post-comment">
          <img src="./../../../assets/images/fuk.png" alt="" class="profile-photo-sm">
          <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
        </div>
        <div class="post-comment">
          <img src="./../../../assets/images/fuk.png" alt="" class="profile-photo-sm">
          <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud </p>
        </div>
        <div class="post-comment">
          <img src="./../../../assets/images/fuk.png" alt="" class="profile-photo-sm">
          <input type="text" class="form-control" placeholder="Post a comment">
        </div>
      </div>
    </div>
  </div>
</div>