.navbar{
    background-color: #0c1732;
}

.form-inline .form-control{
    width: 600px;
}
#navbarCollapse{
    position: relative;
}

.topnav-right{
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-brand{
    margin-right: -10em;
}

/* dropdown */
.dropdown-menu{
    margin-top: 20px;
    background-color: #0c1732;
    margin-left: -150px;
}

.dropdown-menu li{
    padding: 10px;
}

.dropdown-menu li a{
    color: white;
}

li.nav-item .option{
    font-size: 1.5em;
    color: white;
    padding: 0;
}