<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-bordered table-inverse table-responsive">
                <thead class="thead-inverse|thead-default">
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Age</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users" >
                            <td> {{user.username}} </td>
                            <td> {{user.password}} </td>
                            <td> {{user.email}} </td>
                            <td> {{user.age}} </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div> -->
<app-header></app-header>
<!-- <app-login></app-login> -->
<!-- <app-homepage></app-homepage> -->
<!-- <app-editprof></app-editprof> -->
<!-- <app-chat></app-chat> -->
<!-- <app-create-event></app-create-event> -->
<app-friendlist></app-friendlist>