<body>
  <div class="pn-login">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-left">
          <img src="./../../../assets/images/logo-luxury.png" alt="">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-right">
          <form id="login_form">
            <table cellspacing="0" role="presentation">
              <tbody>
                <tr>
                  <td ><label class="email" for="email">Email</label></td>
                  <td ><label class="password" for="pass">Mật khẩu</label></td>
                </tr>
                <tr>
                  <td><input type="email" class="inputtext" name="email" id="email" tabindex="1" data-testid="royal_email"></td>
                  <td><input type="password" class="inputtext" name="pass" id="pass" tabindex="2" data-testid="royal_pass"></td>
                  <button class="btn-login">Đăng nhập</button>
                </tr>
                <tr>
                  <td class="login_form_label_field"></td>
                  <td class="login_form_label_field">
                    <div class="forget"><a href="https://www.facebook.com/recover/initiate?lwv=110&amp;ars=royal_blue_bar">Quên tài
                        khoản?</a></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>