<div class="container">
  <div class="timeline">
    <div class="timeline-cover">

      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img src="./../../../assets/images/fuk.png" alt="" class="img-responsive profile-photo">
              <h3>Sarah Cruiz</h3>
              <p class="text-muted">Creative Director</p>
            </div>
          </div>
          <div class="col-md-9">
            <button class="btn btn-primary btn-addfriend">Add Friend</button>
            <!-- <ul class="list-inline profile-menu">
              <li><a href="timeline.html">Timeline</a></li>
              <li><a href="timeline-about.html" class="active">About</a></li>
              <li><a href="timeline-album.html">Album</a></li>
              <li><a href="timeline-friends.html">Friends</a></li>
            </ul>
            <ul class="follow-me list-inline">
              <li>1,299 people following her</li>
              <li><button class="btn-primary">Add Friend</button></li>
            </ul> -->
          </div>
        </div>
      </div>
      <!--Timeline Menu for Large Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3">

          <!--Edit Profile Menu-->
          <ul class="edit-menu">
            <li class="active"><i class="icon ion-ios-information-outline"></i><a href="edit-profile-basic.html">Basic
                Information</a></li>
            <li><i class="icon ion-ios-briefcase-outline"></i><a href="edit-profile-work-edu.html">Education and Work</a></li>
            <li><i class="icon ion-ios-heart-outline"></i><a href="edit-profile-interests.html">My Interests</a></li>
            <li><i class="icon ion-ios-settings"></i><a href="edit-profile-settings.html">Account Settings</a></li>
            <li><i class="icon ion-ios-locked-outline"></i><a href="edit-profile-password.html">Change Password</a></li>
          </ul>
        </div>
        <div class="col-md-7">

          <!-- Basic Information
        ================================================= -->
          <div class="edit-profile-container">
            <div class="block-title">
              <h4 class="grey"><i class="fa fa-check-square-o"></i>Edit basic information</h4>
              <div class="line"></div>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
              <div class="line"></div>
            </div>
            <div class="edit-block">

              <form>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="firstname">Họ</label>
                      <input type="text" class="form-control" id="firstname" placeholder="Họ">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="lastname">Tên</label>
                      <input type="text" class="form-control" id="lastname" placeholder="Tên">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input id="email" class="form-control" type="text" name="Email" placeholder="ivolunteer@gmail.com">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="birthday">Ngày sinh</label>
                  </div>

                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <select class="form-control" id="day">
                        <option value="Day">Ngày</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option selected="">19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                      <select class="form-control" id="month">
                        <option value="month">Tháng</option>
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                        <option>May</option>
                        <option>Jun</option>
                        <option>Jul</option>
                        <option>Aug</option>
                        <option>Sep</option>
                        <option>Oct</option>
                        <option>Nov</option>
                        <option selected="">Dec</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <select class="form-control" id="year">
                        <option value="year">Năm</option>
                        <option selected="">2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                      </select>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label class="custom-label">Giới tính: </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio" checked="">Nam
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio">Nữ
                      </label>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <label for="address">Địa chỉ</label>
                      <input id="address" class="form-control" type="text" name="Address" placeholder="1211 Phan Văn Trị">
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="address">Giới thiệu bản thân</label>
                        <textarea id="address" class="form-control infouser" type="text" name="Address" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur"></textarea>
                      </div>
                    </div>
                  </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            </div>
          </div>
        </div>
        <div class="col-md-2 static">

          <!--Sticky Timeline Activity Sidebar-->
          <div id="sticky-sidebar">
            <h4 class="grey">Sarah's activity</h4>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                <p class="text-muted">5 mins ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                <p class="text-muted">an hour ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                <p class="text-muted">4 hours ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                <p class="text-muted">a day ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>