<div class="edit-profile-container">
  <div class="block-title">
    <h4 class="grey"><i class="fa fa-check-square-o"></i>Edit basic information</h4>
    <div class="line"></div>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
      deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
    <div class="line"></div>
  </div>
  <div class="edit-block">

    <form>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="firstname">Họ</label>
            <input type="text" class="form-control" id="firstname" placeholder="Họ">
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="lastname">Tên</label>
            <input type="text" class="form-control" id="lastname" placeholder="Tên">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="text" name="Email" placeholder="ivolunteer@gmail.com">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="birthday">Ngày sinh</label>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <select class="form-control" id="day">
              <option value="Day">Ngày</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option selected="">19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <select class="form-control" id="month">
              <option value="month">Tháng</option>
              <option>Jan</option>
              <option>Feb</option>
              <option>Mar</option>
              <option>Apr</option>
              <option>May</option>
              <option>Jun</option>
              <option>Jul</option>
              <option>Aug</option>
              <option>Sep</option>
              <option>Oct</option>
              <option>Nov</option>
              <option selected="">Dec</option>
            </select>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <select class="form-control" id="year">
              <option value="year">Năm</option>
              <option selected="">2000</option>
              <option>2001</option>
              <option>2002</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2008</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="custom-label">Giới tính: </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" checked="">Nam
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Nữ
            </label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input id="address" class="form-control" type="text" name="Address" placeholder="1211 Phan Văn Trị">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">Giới thiệu bản thân</label>
            <textarea id="address" class="form-control infouser" type="text" name="Address" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur"></textarea>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>

  </div>
</div>
